<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="uk.co.torquesoftware.torquepaper"
	android:versionName="1.0.1"
	android:versionCode="2">

	<uses-sdk android:minSdkVersion="7" />
	<uses-feature android:name="android.software.live_wallpaper" />

	<application android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:permission="android.permission.BIND_WALLPAPER">

		<service android:name=".TorquePaper"
			android:label="@string/app_name"
			android:icon="@drawable/icon">

			<intent-filter>
				<action android:name="android.service.wallpaper.WallpaperService" />
			</intent-filter>
			<meta-data android:name="android.service.wallpaper"
				android:resource="@xml/torquepaper" />

		</service>

		<activity android:label="@string/torquepaper_settings"
			android:name=".TorquePaperSettings"
			android:theme="@android:style/Theme.Black"
			android:exported="true"
			android:icon="@drawable/icon">
		</activity>

	</application>
</manifest> 